.container{
    width: inherit;
    height: inherit;
    white-space: nowrap;
}
.textCol{
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-right: 15px;
    font-size: 30px;
}